<% include partials/header %>


<h1>SHOW CAMPGROUND!!!!</h1>

<%= campground._id %>
<img src="<%= campground.image %>" alt="campground image">

<p><%= campground.description %></p>
<% include partials/footer %>