
<% include partials/header %>
<h1>Campgrounds page!</h1>

<% campgrounds.forEach(function(campground) { %>
    <div>
        <p> <%= campground.name %></p>
        <img src="<%=campground.image%>">
    </div>
<% }); %>

<% include partials/footer %>